header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: aliceblue;
}

.profile-button-container {
  position: absolute;
  padding-bottom: 10px;
  right: 10px;
}

header a {
  text-decoration: none;
  color: #ff6560;
  font-weight: bold;
  font-size: 1.7rem;
}


/* todo: give padding below header so when the veiw of the screen is at 100 or a larger view then the header content is over lapping the stuff bellow it */