.profile-dropdown {
  position: absolute;
  left: -165px;
  display: inline-block;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 10px;
  border-radius: 10px;
  height: 10rem;
}

.hidden {
  display: none;
}

.login {
  display: flex;
  text-decoration: none;
  color: #ff6560;
  font-weight: bold;
  font-size: 2rem;
  margin-right: -10rem;
}

.signup {
  display: flex;
  text-decoration: none;
  color: #ff6560;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 1rem;
  margin-left: -1rem;
}


header .view-groups {
  display: flex;
  text-decoration: none;
  color: #ff6560;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 1rem;
  margin-left: -1rem;
}

header .view-events {
  display: flex;
  text-decoration: none;
  color: #ff6560;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 1rem;
  margin-left: -1rem;
}