.profile-dropdown {
  position: absolute;
  left: -160px;
  top: 5px;
  display: inline-block;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.hidden {
  display: none;
}

.login {
  display: flex;
  flex-direction: column;
}

.signup {
  display: flex;
  flex-direction: column;
}

header .viewGroups {
  text-decoration: none;
  color: #ff6560;
  font-weight: bold;
  font-size: .8rem;
}
